.App{
  font-family: 'Indie Flower', cursive;}

header{
  background-color: black;
  color: white;
}

.flexB{
  display: flex;
  justify-content: space-between;
}

.titre{
  padding: 20px;
  margin-left: 50px;
  
}

h2{
 text-align: center;
 text-decoration-line: underline;
}

.fa-pencil-alt{
  padding: 25px;
  margin-left: 0;
  font-size: 30px;
}


.conexion{
  padding: 50px;
  display: flex;
  font-size: 20px;

}

.conexion a{
  color: white;
  text-decoration: none;
  margin:10px;
}

.flex{
  display: flex;
}

.justify-sb{
  justify-content: space-between;
}

.justify-sa{
  justify-content: space-around;
}



.width20{
  width: 20%;
  height: 570px;
  margin-top: 40px;
  border: 2px black solid;
  margin-bottom: 40px;

}

.log{
  width: 30%;
  height: 300px;
  border: 2px black solid;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 50px;
  padding-top: 100px;
  text-align: center;

}

.log>div{
  margin: 20px;
}

.log input{
  width:80%;
  height: 30px;
  border: 2px black solid;
}

.log button{
  width: 200px;
  padding: 10px 0px;
  background-color: black;
  color: white;
}

.log a{
  padding: 15px;
}



.inscription{
  justify-content: center;
}


.form{

  text-align: center;
  border: 2px black solid;
  width: 360px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

.form input{
  width: 60%;
  height: 30px;
  border: 2px black solid;
  margin: 20px;
}
.form label{
  width: 35%;
  text-align: left;
  /* word-break: break-all; */
}

button{
  width: 200px;
  padding: 10px 0px;
  background-color: black;
  color: white;
  text-align: center;
}



.compte{
  border: 1px black solid;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px;
  margin-top: 50px;

}

.compte input{

  width: 60%;
  height: 30px;
  border: 2px black solid;
  margin: 20px;
}

.profil{
  border-radius: 50%;
  border: 2px black solid;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  
}

.fa-laugh-beam{
  font-size: 80px;
  padding: 10px;
}

.postit{
  background-color: rgb(204, 180, 226);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  height: 140px;
}

.flech{
  display: flex;
  justify-content: space-between;
}

footer{
  color: white;
  text-align: center;
  background-color: black;
  font-size: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fa-copyright{
  font-size: 10px;
  position: absolute;
  padding: 5px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
